:root {
    /*Colors */
     /* colors for the headers */
     --teal: #38B2AC;
     --purple: #5A67D8;
}

h1 {
    color: var(--teal);
    position: relative;
    font-size: 24px;
}

h2{
    color: var(--purple);
    font-size: 21px;
}

p{
    font-size: 18px;
}

.wrapper img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.35;
}

/* .wrapper img:hover {
  opacity: 0.75;
} */